header {
    background-color: #FF6033;
    margin: 0;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
}

header .left {
    display: flex;
}

header .left {
    display: flex;
    align-items: center;
    padding-right: 50px;
    flex-wrap: wrap;
}

header .left input {
    background-color: white;
    color: #FF6033;
    border: none;
    margin: 20px 20px;
}

header .left input:focus {
    outline: none;
}

header h1 {
    color: white;
    cursor: default;
}

