@import url("../components/toast/toast.css");
@import url("../components/input/input.css");
@import url("../css/layout.css");
@import url("../css/form.css");

 #unameForm {
    left: 100vw;
    width: 100%;
}

body:has(#form.hidden) #unameForm {
    transition: all 1s ease-in-out;
    left: 0px;
}