<?xml version='1.0' encoding='utf-8'?>
<widget id="com.htl.exams" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HTL Exams</name>
    <description>Share your HTL Exams</description>
    <author email="htlexams@gmail.com" href="https://htl-exams.github.io">
        HTL Exams Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
