.co-input:has(.info) {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 9px;
}

.co-input .info {
    background-color: #f3f5f7;
    border: 1px solid #FF6033;
    border-radius: 6px;
    display: none;
    width: 80px;
    font-size: x-small;
    position: absolute;
    right: calc(-37px);
    bottom: 41px;
    padding: 3px;
}

.co-input .info::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #FF6033 transparent transparent;
}

.co-input .info::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8.6px;
    margin-left: -8.6px;
    border-width: 9px 9px 0;
    border-style: solid;
    border-color: #f3f5f7 transparent transparent;

}

.co-input img {
    height: 18px;
    width: 18px;
    position: relative;
    top: 2px;
    left: 2px;
}

*:has(.co-input):not(:has(img:focus)) .co-input:has(img:hover) .info,
*:has(.co-input):not(:has(img:focus)) .co-input .info.show,
*:has(.co-input).co-input:has(img:focus) .info {
    display: block;
}

.co-input input,
.co-input input {
    background-color: #f3f5f7;
    height: 22px;
    width: 200px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}