body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
    max-height: 20vh;
    object-fit: contain;
}

#form {
    height: 50vh;
    top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#form input {
    background-color: #f3f5f7;
    height: 22px;
    width: 200px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#form button {
    border: none;
    background-color: #FF6033;
    width: 200px;
    height: 35px;
    border-radius: 17.5px;
    margin-bottom: 12px;
    color: white;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

body:has(#form button.load) * {
    cursor: progress;
}

#form button.load {
    transition: all 1s ease-in-out;
    background-color: #ff5f3397;
}