@import url('../../css/form.css');
@import url('../../components/toast/toast.css');
@import url('../../components/input/input.css');
@import url('../../css/layout.css');


body:has(#form.hidden) #unameForm {
    transition: transform 1s ease-in-out;
    transform: translate(0%);
}

form button:not(#emailLoginBtn) {
    color: #FF6033;
    background-color: white;
    border: 1px solid #FF6033;
}
