@import url("../components/menu/menu.css");
@import url("../css/layout.css");
@import url("../css/header.css");

#search {
    height: 25px;
    border-radius: 8px;
}

.floatingActionBtn  svg{
    height: 80px ;
    width: 80px;
    background-color: #FF6033;
    border: none;
    fill: white;
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.floatingActionBtn input {
    display: none;
}