@import url("../components/menu/menu.css");
@import url("../css/layout.css");
@import url("../css/header.css");

#search {
    height: 25px;
    border-radius: 8px;
}

.floatingActionBtn svg {
    height: 80px;
    width: 80px;
    background-color: #FF6033;
    border: none;
    fill: white;
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.floatingActionBtn input {
    display: none;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    cursor: pointer;
    height: 300px;
    flex: 1;
    margin: 5px;
    max-width: 90%;
    background-color: rgb(239, 239, 239);
    border-radius: 20px;
    padding: 10px;
}